@font-face {
    font-family: avenir-regular;
    src: url(../fonts/avenir-regular.otf);
}
body{
    font-family: avenir-regular;
    background-color: #ebf1ff;
}
.nobo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    position: relative;
    top: 300px;
    border-radius: 65px;
    border: 10px solid #0d0fe5;
    padding: 20px;
    width: 600px;
    height: 550px;
    right: -800px;


}
.add-categorie{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.categorie {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:blue;

}
