@font-face {
    font-family: avenir-regular;
    src: url(../fonts/avenir-regular.otf);
}
body{
    font-family: avenir-regular;
}
.main{
    display: flex;
    justify-content: center;
}
.add-funds{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
