@font-face {
    font-family: avenir-bold;
    src: url(../fonts/avenir-bold.otf);
}
@font-face {
    font-family: avenir-light;
    src: url(../fonts/avenir-lt.otf);
}
@font-face {
    font-family: avenir-regular;
    src: url(../fonts/avenir-regular.otf);
}
body{
    background-color: #EBF1FF;
    font-family: avenir-regular;

}
header{
    background-color: blue;
}

.app{
    background-color:  #EBF1FF;
}
.sewo{
    display: flex;
    justify-content: center;
    align-items: center;
}
