body {
    background-color: rgba(6, 6, 218, 0);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ebf1ff;
}
.keuzes {
    background-color: #cbcbd2;
    color: white;
}
.spaaren {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    position: relative;
    top: -20px;
    border-radius: 50px;
    border: 10px solid #0d0fe5;
    padding: 20px;
    width: 1200px;
    height: 750px;
    right: -500px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0000ff;
    font-size: 45px;
    position: relative;
    top: -10px;

}
.smbtn{
    justify-content: center;
    align-items: center;
    position: relative;
    font-size:30px;
    border-radius:20px;
    color: white;
    background-color:blue;
    right: -300px;

}

.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 45px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    bottom: -400px;
    left: -600px;
}
.button1 {
    background-color: #008CBA;
    color: white;
}
.main-container {
    display: flex;
    background-color: white;
    max-height: 60px;
    font-size:20px;
}
#linker {
    display: flex;
    flex: 1;
    max-width: 100px;
    margin: 5px;
}
#rechter {
    display: flex;
    flex: 2;
}
.pecunia-logo {
    width: 89px;
    height: 50px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
.avatar{
    height: 50px;
    width: 50px;
}
#rechter-rechter {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 5px;
    border-radius: 25px;
}
#knoppen {
    display: flex;
    flex: 3;
    justify-content: flex-start;
    align-items: center;
}
.dropbtn {
    background-color: blue;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-width: 160px;
    border-radius: 25px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #707b7c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #3498db;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3498db;
}
.display {
    display: flex;
    align-items: center;
}
.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: "liga";
}
a{
    text-decoration: none;
    color: black;
}
.main-content-container{
    display: flex;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}
.left-container{
    display: flex;
    flex-direction: column;
    width: 338px;
}
.right-container{
    display: flex;
    flex-direction: column;
}
.total-amount{
    border: solid white;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    border-radius: 45px;
    width: 300px;
    height: 150px;
    background-color: white;

}
#donutchart{
    width: 280px;
    height: 380px;
}




