* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    left: 100px;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url(public/images/ln.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.textincard {
    font-size: 45px;
}

. spaardoelen {
    border-radius: 25%;
}

body {
    background-image: url(/images/ln.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.logo {
    border-radius: 50px;
    height: 160px;

}

.card {
    height: 95%;
    width: 70%;
    color: #fff;
    text-align: center;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 14px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    margin-bottom: 25px;
}

.card img {
    border-radius: 50%;
}

.label {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 25px;
    border-radius: 25px;
}

.label input {
    font-size: 30px;
    border-radius: 20px;
    border: 4px solid #050505;
    width:500px;
}


input[type='checkbox'] {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 4px solid #050505;
}

input[type='checkbox']:checked {
    background: #2316fc;
}

.inputenreset {
    color:white;
    font-size: 30px;
    background-color: blue;
    border-radius: 20px;
    border: 4px solid #050505;
    width: 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
